@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: theme('fontFamily.sans');
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
    background-color: #F8FAFC;
    color: #0F172A;
    overflow-x: hidden;
  }

  a:focus-visible,
  button:focus-visible {
    @apply outline-2 outline-offset-2 outline-blue-600;
  }
}
