@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: theme('fontFamily.sans');
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
    @apply bg-slate-50 text-slate-900;
  }

  a:focus-visible,
  button:focus-visible {
    @apply outline-2 outline-offset-2 outline-blue-600;
  }
}
